name: Build Android AppBundle

on:
  workflow_dispatch:

env:
  APP_NAME: palavras5000
  ORG: com.seunome # altere aqui para o seu pacote (ex.: com.minhaempresa)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create Flutter project
        run: |
          flutter --version
          flutter create --org $ORG $APP_NAME

      - name: Inject source files
        run: |
          cp -f app_source/pubspec.yaml $APP_NAME/pubspec.yaml
          mkdir -p $APP_NAME/lib $APP_NAME/assets
          cp -f app_source/main.dart $APP_NAME/lib/main.dart
          cp -f app_source/words.json $APP_NAME/assets/words.json

      - name: Add Billing permission
        run: |
          MANIFEST=$APP_NAME/android/app/src/main/AndroidManifest.xml
          sed -i '1 a <uses-permission android:name="com.android.vending.BILLING" />' $MANIFEST

      - name: Get dependencies
        run: |
          cd $APP_NAME
          flutter pub get

      - name: Build AAB
        run: |
          cd $APP_NAME
          flutter build appbundle --release

      - name: Upload AAB artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release.aab
          path: ${{ env.APP_NAME }}/build/app/outputs/bundle/release/app-release.aab
